<h2 class="subtitle-green">Mon véhicule</h2>

<%# affichage du van sélectionné %>

<div class="card-van">
    <div>
        <%= cl_image_tag @van.photo.key, class: "card-van-img" %>
    </div>

    <div class="van-card-price">
        <p><strong><%= @total_price %>€</strong> pour <%= @nights %> nuits</p>
    </div>

    <p class="van-card-name"><%= @van.name %></p>
    <p class="van-card-passengers">Capacité: <%= @van.passengers %> personnes</p>
    <p class="van-card-description"><%= @van.description %></p>
</div>

<%# affichage de la map %>

------MAP-----

<%# affichage des emplacements %>

<% @selected_places.each do |selection| %>
    <%= selection.place.name %>
<% end %>

<%# affichage des activites %>

<% @selected_activities.each do |selection| %>
    <%= selection.activity.name %>
<% end %>