<div class="navbar navbar-expand-sm navbar-light navbar-home">
    <% if user_signed_in? %>
      <li class="dropdown">
        <img src="https://res.cloudinary.com/df0stqosw/image/upload/v1616068410/Samba/user_flqxzl.png" class="btn-navbar" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else  %>
      <li class="nav-item active">
        <%= link_to "Se connecter", new_user_session_path, class: "nav-link btn-navbar", id: "login-btn"%>
      </li>
    <%  end %>
</div>

<div class="banner" style="background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/v1616162212/Samba/banner_pigqkc.jpg);">
    <div>
        <h1>Samba</h1>
        <p class="subtitle-green">Ici commence l'aventure</p>
    </div>
</div>

<div class="container offset-form">

    <%= form_with(url: "/results", method: "get", local: true) do |f| %>

        <div class="input-group">
            <%= f.label :departure, "Ville de départ", class: "input-group-text" %>
            <%= f.text_field :departure, class: "form-control" %>
        </div>

    <br>
        <div class="input-group">
            <%= f.label :start_date, "Date de départ", class: "input-group-text" %>
            <%= f.date_field :start_date, class: "form-control" %>
        </div>

        <br>

        <div class= "homepage-subtitle">
          <p>Sélectionnez vos envies</p>
        </div>

        <div class="radio-group" id="first-radio">
            <div class="radio-option">
                <%= f.radio_button :nights, 2, class: "radio" %>
                <%= f.label :nights_2, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616102358/Samba/nights2_lr2p7o.png') %>
                <%= f.label :nights_2, "2 nuits"%>
            </div>
            <div class="radio-option">
                <%= f.radio_button :nights, 4, class: "radio" %>
                <%= f.label :nights_4, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616102359/Samba/nights4_ehw0ax.png') %>
                <%= f.label :nights_4, "4 nuits" %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :nights, 6, class: "radio" %>
                <%= f.label :nights_6, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616102359/Samba/nights6_c6oluq.png') %>
                <%= f.label :nights_6, "6 nuits" %>
            </div>
        </div>

        <div class="radio-group">
            <div class="radio-option">
                <%= f.radio_button :place, "confort", class: "radio" %>
                <%= f.label :place_confort, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616101711/Samba/confort_omek1v.png')%>
                <%= f.label :place_confort, "Hébergement confort"%>
            </div>
            <div class="radio-option">
                <%= f.radio_button :place, "authentique", class: "radio" %>
                <%= f.label :place_authentique, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616101449/Samba/authentique_fz9fzn.png') %>
                <%= f.label :place_authentique, "Hébergement authentique"%>
            </div>
            <div class="radio-option">
                <%= f.radio_button :place, "nature", class: "radio" %>
                <%= f.label :place_nature, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616101712/Samba/nature_k3ualh.png') %>
                <%= f.label :place_nature, "Bivouac nature"%>
            </div>
        </div>


        <div class="radio-group">
            <div class="radio-option">
                <%= f.radio_button :rythm, "relax", class: "radio" %>
                <%= f.label :rythm_relax, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616103661/Samba/relax_gqwojn.png') %>
                <%= f.label :rythm_relax, "Rythme relax" %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :rythm, "moyen", class: "radio" %>
                <%= f.label :rythm_moyen, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616103661/Samba/moyen_sxsebv.png') %>
                <%= f.label :rythm_moyen, "Rythme moyen" %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :rythm, "intense", class: "radio" %>
                <%= f.label :rythm_intense, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616103661/Samba/intense_wvmw83.png') %>
                <%= f.label :rythm_intense, "Rythme intense" %>
            </div>
        </div>

        <div class="radio-group">
            <div class="radio-option">
                <%= f.radio_button :passengers, "2", class: "radio" %>
                <%= f.label :passengers_2, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616105976/Samba/1-2_nmoeui.png') %>
                <%= f.label :passengers_2, "1-2 pers." %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :passengers, "4", class: "radio" %>
                <%= f.label :passengers_4, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616105977/Samba/3-4_vvmuop.png') %>
                <%= f.label :passengers_4, "3-4 pers." %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :passengers, "6", class: "radio" %>
                <%= f.label :passengers_6, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616104743/Samba/5-6_ixnln6.png') %>
                <%= f.label :passengers_6, "5-6 pers." %>
            </div>
        </div>

        <div class="radio-group">
            <div class="radio-option">
                <%= f.radio_button :van_type, "vintage", class: "radio" %>
                <%= f.label :van_type_vintage, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616105976/Samba/vintage_gqjdzh.png') %>
                <%= f.label :van_type_vintage, "Véhicule vintage" %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :van_type, "moderne", class: "radio" %>
                <%= f.label :van_type_moderne, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616105976/Samba/moderne_f08oxq.png') %>
                <%= f.label :van_type_moderne, "Véhicule moderne" %>
            </div>
            <div class="radio-option">
                <%= f.radio_button :van_type, "luxe", class: "radio" %>
                <%= f.label :van_type_luxe, cl_image_tag('https://res.cloudinary.com/df0stqosw/image/upload/v1616105976/Samba/luxe_cayw7a.png') %>
                <%= f.label :van_type_luxe, "Véhicule luxe" %>
            </div>
        </div>

        <div class="text-center mt-3 mb-4">
            <%= f.submit "Créer mon voyage!", class: "btn-samba" %>
        </div>

    <% end %>

</div>
